:root {
  --bg-color: #ffffff;
  --txt-color: #000000;
  --bd-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #2a2a2a;
    --txt-color: #f156ff;
    --bd-color: #f156ff;
  }
}

@mixin animate(
  $name,
  $duration,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: none
) {
  -webkit-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
  -moz-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
  -ms-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
  -o-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
  animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin transitionAll() {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;

  width: 500px;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;

  margin-left: auto;
  margin-right: auto;

  padding: 2rem;

  overflow: hidden;

  color: var(--txt-color);
  background-color: var(--bg-color);
}

main {
  width: 100%;
}

.header {
  &Container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 40vh, 0);
    transform-style: preserve-3d;

    height: auto;
    width: max-content;

    @include transitionAll();

    &Active {
      transform: translate3d(-50%, 5vh, 0);
    }

    &:hover {
      .headerLink {
        opacity: 1;
      }
    }
  }

  &Link {
    @include transitionAll();
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;

    &Icon {
      height: 100%;
      width: 15px;
      color: var(--txt-color);
    }
  }
}

.joke {
  width: 100%;
  font-size: large;
  line-height: 150%;
  text-align: center;

  &Container {
    @include transitionAll();

    position: absolute;
    top: 40vh;

    width: 80%;
    height: 0%;

    transition-delay: 500ms;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
}

.mainButton {
  @include transitionAll();

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 50vh, 0);
  transform-style: preserve-3d;

  width: max-content;
  height: auto;

  border: 2px solid var(--bd-color);
  border-radius: 2px;
  padding: 10px 20px;

  background-color: var(--bg-color);
  color: var(--txt-color);

  font-weight: bold;
  font-size: large;

  cursor: pointer;

  &Inactive {
    height: 0;
    opacity: 0;
    transform: translate3d(-50%, 90vh, 0);
  }

  &Active {
    height: auto;
    opacity: 1;
    transform: translate3d(-50%, 90vh, 0);
  }

  &:hover {
    background-color: var(--txt-color);
    color: var(--bg-color);
  }
}

.share {
  &Container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 70vh, 0);

    width: 80%;
    font-size: large;
    font-weight: bold;
    text-align: center;

    opacity: 0;

    @include transitionAll();

    &Active {
      opacity: 1;
    }
  }

  &ButtonContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &LinkButton {
    height: 32px;
    width: 32px;
    border: none;
    background-color: var(--bd-color);
    color: var(--bg-color);
    cursor: pointer;

    &Icon {
      height: 100%;
      width: 15px;
      margin-top: -2px;
      fill: var(--txt-color);

      &IconFill {
        fill: var(--bg-color);
      }

      &BgFill {
        fill: var(--txt-color);
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
